@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li {list-style:none;}
a {
    text-decoration:none;
    color:#111;
}

body {font-family: 'Pretendard', '맑은 고딕', Arial, Helvetica, sans-serif;}

section:after, div:after {
    display:block;
    content:"";
    clear:both;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(255,255,255,0.8);
    z-index:100;
    animation:start 3s forwards;
    opacity:0;
}
.header_in {
    width:960px;
    height:80px;
    margin:0 auto;
}
header a {transition:0.3s;}
header a:hover {
    font-weight:800;
}

@keyframes start {
    0% {opacity:0;}
    100% {opacity:1;}
}

#menu {}
h1 {
    float:left;
    line-height:80px;
    padding-right:280px;
}
#menu > ul {}
#menu > li {
    float:left;
    text-align:center;
    padding-left:20px;
}
#menu > li > a {line-height:80px;}

main {}
section {
    background-size:cover;
    background-position:center center;
}

#s0 {
    background-image:url('../images/bg.jpg');
}
#s0 .s0_text {
    position:relative;
    width:100%;
    left:-1500px;
    animation:move 3s forwards;
    padding-left:30px;
    text-align:center;
}
#s0 h2 {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:220px;
    font-weight:700;
}

#s0 .s0_text p {
    position:absolute;
    top:100px;
    font-size:90px;
    font-weight:500;
    opacity:0.3;
}

#s0 .s0_img {
    position:absolute;
    display:block;
    right:60px;
    bottom:-100px;
    width:70px;
    height:70px;
    animation:move2 3s forwards;
}
#s0 .s0_img p {
    font-weight:600;
    text-align:center;
}
.s0_img img {width:100%;}

#s0 .s0_img:hover {transform:scale(90%);}

@keyframes move {
    0% {}
    100% {left:0;}
}

@keyframes move2 {
    0% {}
    100% {bottom:40px;}
}

@keyframes moveL {
    0% {}
    100% {right:0;}
}

#s1 {position:relative;}
#s1 .info {}
#s1 .info .profile {
    position:absolute;
    left:30%;
    top:15%;
    width:100%;
}
#s1 .s1_left {
    float:left;
    width:230px;
    padding-bottom:40px;
}
#s1 .s1_left img {width:100%;}

#s1 .s1_right {float:left;}

#s1 .s1_right .name {
    font-size:35px;
    font-weight:600;
    line-height:2.4em;
    margin-top:40px;
}
#s1 .s1_right .name_info {
    font-size:18px;
    font-weight:500;
}

#s1 .info .skill {
    position:absolute;
    left:50%;
    bottom:15%;
    transform:translate(-50%);
}
#s1 ul {}
#s1 ul li {
    float:left;
    text-align:center;
    width:120px;
    padding-top:10px;
    margin-left:100px;
}
#s1 ul li:first-child {margin-left:0;}
#s1 ul li p {
    font-size:30px;
    font-weight:700;
    padding-top:20px;
}
#s1 ul li .photo {margin-left:-25px;}
#s1 ul li img {width:100%;}




#s2 .text {
    float:left;
    position:relative;
    left:-1500px;
    top:40%;
    transform:translateY(-50%);
    width:50%;

}

#s2 .btn {
    padding:100px 0 0 100px;
}
#s2 .btn a {
    display:inline-block;
    padding:5px 20px;
    border:2px solid #111;
    border-radius:20px;
    font-weight:500;
    margin-right:20px;
    font-size:18px;
}
#s2 .btn a:hover {
    border:2px solid #FFB53B;
    background:#FFB53B;
    font-weight:700;
}


#s2.ani .text, #s4.ani .text, #s5.ani .text, #s6.ani .text {
    animation:move 2s forwards;
}

#s3.aniR .text {animation:moveL 2s forwards;}

#s3 .text {
    float:right;
    position:relative;
    right:-1500px;
    top:50%;
    transform:translateY(-50%);
    width:50%;
}

#s3 .btn a:hover {
    border:2px solid #fff;
    background:#fff;
    font-weight:700;
}

#s4 .text, #s5 .text, #s6 .text {
    float:left;
    position:relative;
    left:-1500px;
    top:40%;
    transform:translateY(-50%);
    width:50%;
}

#s4 .btn a:hover {
    border:2px solid #ff6c59;
    background:#ff6c59;
    color:#fff;
}

#s5 .btn a:hover {
    border:2px solid #111;
    background:#111;
    color:#fff;
}

.text h2 {
    font-size:5vw;
    padding-left:100px;
}
.text p {
    font-size:2vw;
    padding:10px 0 0 100px;
    font-weight:500;
}

.btn {
    padding:100px 0 0 100px;
}
.btn a {
    display:inline-block;
    padding:5px 20px;
    border:2px solid #111;
    border-radius:20px;
    font-weight:500;
    margin-right:20px;
    font-size:18px;
}

.images {
    float:left;
    width:50%;
}
img {width:100%;}
















.preview {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1001;
    animation:pre 5s forwards;
    background:#fff;
}
.preview span {
    position:absolute;
    font-size:200px;
}

.preview .ttxt1 {
    top:10%;
    left:10%;
    animation:textmove1 5s forwards;
}

.preview .ttxt2 {
    top:10%;
    left:20%;
    font-size:150px;
    animation:textmove2 5s forwards;
}
.preview .ttxt3 {
    top:20%;
    left:30%;
    font-size:190px;
    animation:textmove3 5s forwards;
}
.preview .ttxt4 {
    top:20%;
    left:40%;
    font-size:170px;
    animation:textmove4 5s forwards;
}
.preview .ttxt5 {
    top:35%;
    left:10%;
    animation:textmove5 5s forwards;
}
.preview .ttxt6 {
    top:35%;
    left:20%;
    font-size:180px;
    animation:textmove6 5s forwards;
}
.preview .ttxt7 {
    top:35%;
    left:30%;
    font-size:160px;
    animation:textmove7 5s forwards;
}
.preview .ttxt8 {
    top:40%;
    left:45%;
    animation:textmove8 5s forwards;
}
.preview .ttxt9 {
    top:35%;
    left:60%;
    font-size:170px;
    animation:textmove9 5s forwards;
}

@keyframes textmove1 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:10%;
        top:20%;
    }
}
@keyframes textmove2 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:25%;
        top:20%;
    }
}
@keyframes textmove3 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:40%;
        top:10%;
    }
}
@keyframes textmove4 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:55%;
        top:15%;
    }
}
@keyframes textmove5 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:20%;
        top:50%;
    }
}
@keyframes textmove6 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:35%;
        top:60%;
    }
}
@keyframes textmove7 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:50%;
        top:40%;
    }
}
@keyframes textmove8 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:60%;
        top:50%;
    }
}
@keyframes textmove9 {
    0% {}
    100% {
        transform:rotate(620deg);
        left:70%;
        top:50%;
    }
}

@keyframes pre {
    0% {opacity:100%;}
    98% {opacity:100%;}
    99% {
        opacity:0%;
        display:none;
    }
    100% {z-index:0;}
}

#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

@keyframes draw {
    to {
    stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }
    50% {
    opacity: 0.2;
    }
    100% {
    opacity: 0.15;
    }
}








.hidden {
    position:absolute; 
    top:-99999px; 
    left:-99999px; 
    font-size:1px; 
    line-height:1px; 
    width:1px; 
    height:1px;
}
.indicator {
    position:fixed;
    top:300px;
    right:20px;
    z-index:102;
    animation:start 3s forwards;
    opacity:0;
}
.indicator li {
    height:32px;
    margin-bottom:2px;
}
.indicator li a {
    position:relative;
    display:block;
    font-size:10px;
    line-height:32px;
    border-radius:16px;
    padding-left:14px;
    transition:0.3s;
}
.indicator a .indicatorNum:hover, .indicator a.on .indicatorNum {
    text-decoration:none;
    background:#111;
}

.indicator .indicatorNum {
    position:absolute;
    right:0;
    top:0;
    height:12px;
    width:12px;
    border-radius:16px;
    text-align:center;
    background:rgb(255,255,255);
    box-shadow:0 0 8px #aaa;
    transition:0.4s;
}